/*Общие классы*/

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

.white {
	color: white;
}

.black {
	color: black;
}

.font-size-14px {
	font-size: 14px;
}

.button {
	text-decoration: none;
	padding-top: 17px;
	text-align: center;
	width: 200px;
	height: 35px;
	margin-top: 30px;
	font-family: sans-serif;
	font-weight: 650;
	text-transform: uppercase;
	background-color: #00afdb;
	border: 1px solid #00afdb;
	color: white;
	font-size: 14px;
	transition: all 0.5s ease;
}

.button:hover {
	background-color: white;
	color: #00afdb;
}

.section {
	width: 100%;
	background-color: white;
}

.section-first-third {
	height: 842px;
	display: flex;
	flex-direction: row;
}

.section-left {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-right {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.container-left {
	width: 405px;
	display: flex;
	flex-direction: column;
}

.text {
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 500;
	color: #4e4e4e;
}

.title {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #373737;
}

.margin-text {
	margin-top: 20px;
}

/*Индивидуальные классы*/

.header {
	height: 60px;
	width: auto;
	background-color: black;
}

.nav {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.nav-text {
	align-items: center;
	color: white;
}

.nav-links {
	color: unset;
	text-decoration: unset;
	transition: all 0.5s ease;
}

.nav-links:hover {
	font-style: italic;
	color: #00afdb;
	border-bottom: 1px solid white;
}

.nav-margin:not(:first-child) {
	margin-left: 100px;
}

.hero {
	height: 744px;
	width: auto;
	background-color: black;
	background-image: url(./images/bg-image.png);
	background-size: cover;
	background-position: center;
}

.hero-title {
	padding-top: 150px;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 64px;
	font-family: sans-serif;
	font-weight: 700;
}

.hero-text {
	width: 504px;
	display: block;
	margin: 30px auto;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 400;
}

.hero-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.social-icons {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
}

.hover-icons:hover {
	margin-top: 5px;
}

.social-icon {
	margin-left: 40px;
}

.main {
	width: auto;
}

.width-first-title {
	width: 380px;
}

.width-first-text {
	width: 405px;
}

.content-image {
	width: 407px;
	height: 582px;
	display: flex;
	align-self: center;
}

.second-section {
	width: 100%;
	height: 504px;
	background-color: #f5f6f7;
}

.second-container-left {
	text-align: center;
}

.width-left-section {
	width: 40%;
}

.size-icon {
	width: 45px;
	height: 45px;
}

.font-title {
	font-size: 16px;
}

.margin-title {
	margin-top: 20px;
}

.width-second-text {
	width: 300px;
	margin-top: 10px;
}

.width-right-section {
	width: 60%;
}

.section-right-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-right-direction {
	display: flex;
	flex-direction: row;
}

.container-right-second {
	width: 734px;
	height: 214px;
	display: flex;
	flex-direction: row;
}

.content-images {
	width: 337px;
	height: 214px;
	margin-right: 30px;
}

.third-section {
	height: 842px;
}

.section-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.fourth-section {
	height: 520px;
	background-image: url(./images/notebook-bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-title {
	text-align: center;
	color: white;
}

.form {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	width: 405px;
	height: 42px;
}

.input {
	width: 340px;
	height: 40px;
	border: none;
}

.chek-button {
	width: 65px;
	height: 42px;
	background-color: #00afdb;
	border: 1px solid #00afdb;
	transition: all 0.5s ease;
}

.chek {
	width: 22px;
	height: 22px;
	align-self: center;
}

.chek-button:hover {
	background-color: #00798f;
}

.fifth-section {
	height: 464px;
	background-color: white;
}

.footer {
	height: 185px;
	background-color: black;
}
