body,
h1,
h2,
h3,
h4,
h5,
p,
a {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

.header {
	height: 60px;
	width: auto;
	background-color: black;
}

.nav {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.nav-text {
	align-items: center;
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 500;
}

.nav-links {
	color: unset;
	text-decoration: unset;
	transition: all 0.5s ease;
}

.nav-links:hover {
	font-style: italic;
	color: #00afdb;
	border-bottom: 1px solid white;
}

.nav-margin {
	margin-left: 100px;
}

.hero {
	height: 744px;
	width: auto;
	background-color: black;
	background-image: url(./images/bg-image.png);
	background-size: cover;
	background-position: center;
}

.hero-title {
	padding-top: 150px;
	display: flex;
	justify-content: center;
	color: white;
	text-transform: uppercase;
	font-size: 64px;
	font-family: sans-serif;
	font-weight: 700;
}

.hero-text {
	width: 504px;
	display: block;
	margin: 30px auto;
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 400;
}

.get-started {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-family: sans-serif;
	font-weight: 650;
	text-transform: uppercase;
	background-color: #00afdb;
	border: 1px solid #00afdb;
	color: white;
	font-size: 14px;
	padding: 15px 45px;
	transition: all 0.5s ease;
}

.get-started:hover {
	background-color: white;
	color: #00afdb;
}

.social-icons {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
}

.hover-icons:hover {
	margin-top: 5px;
}

.social-icon {
	margin-left: 40px;
}

.main {
	width: auto;
}

.first-section {
	height: 842px;
	display: flex;
	flex-direction: row;
}

.first-section-left {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-section-left-container {
	display: flex;
	flex-direction: column;
}

.first-section-title {
	width: 390px;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #373737;
}

.first-section-text {
	margin-top: 20px;
	width: 405px;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #4e4e4e;
}

.first-section-button {
	margin-top: 30px;
	width: 200px;
	height: 50px;
	font-family: sans-serif;
	font-weight: 650;
	text-transform: uppercase;
	background-color: #00afdb;
	border: 1px solid #00afdb;
	color: white;
	font-size: 14px;
	padding: 15px 45px;
	transition: all 0.5s ease;
}

.first-section-button:hover {
	background-color: white;
	color: #00afdb;
}

.first-section-right {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.first-section-image {
	width: 407px;
	height: 582px;
	display: flex;
	align-self: center;
}

.second-section {
	height: 504px;
	background-color: yellow;
}

.third-section {
	height: 842px;
	background-color: green;
}

.fourth-section {
	height: 520px;
	background-color: blue;
}

.fifth-section {
	height: 464px;
	background-color: red;
}
